.barra_lateral{
    width: 20rem;
    height: 90rem;
    
    grid-row-start: 2;
    grid-column-start: 1;
}

.barra_lateral .logo{
    width: 4rem;
    height: 4rem;

    background-color: rgb(148, 87, 148);
    border-radius: 100%;
    font-size: 1.5rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.barra_lateral .nombre_usuario{
    margin: auto;
    display: flex;
    justify-content:center ;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;
    
    
}